@import "../style/variable.scss";

.check-title {
  font-size: 22px;
  font-weight: 550;
}
//MAKE IMAGE FIT IN DIV
.image-fluid {
  max-width: 100%;
  height: auto;
}
//Product In Cart
.productInCart {
  margin-bottom: 15px;

  .detail-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 30px;
    span,
    p {
      font-size: 15px;
    }
    .quantity-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 50%;
      .icon {
        background: $secondary-color;
        color: $primary-color;
        width: 20px;
        height: 20px;
        padding: 2px;
      }
    }
  }
  .price-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 30px;

    p {
      margin-bottom: 0px;
      font-size: 18px;
    }
  }
}

.boxes {
  position: relative;

  border: solid 1px $secondary-color;
  border-radius: 5px;
  margin: 8px 0px;
  padding-left: 5px;
  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
      padding-top: 10px;
    }
    i {
      padding-right: 5px;
      color: rgb(138, 138, 138);
    }
  }
}

.price {
  color: $primary-color;
  .sale-price s {
    color: $third-color;
  }
  .sold-out {
    color: $third-color;
  }
}

//HOMEPAGE
.homePage {
  .overlay {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #fff;
    top: 0;
    right: 0;
    z-index: 4;
  }
  .carousel {
    .carousel-indicators {
      li {
        width: 3vw;
        height: 0.3vh;
      }
    }
    .carousel-caption {
      z-index: 1;
    }
  }
  .main {
    width: 95%;
    margin: auto;
    .popular-section {
      .contain {
        position: relative;
        height: 70%;
        width: 100%;
        margin: auto;
        margin-bottom: 60px;
        .bar {
          position: absolute;
          top: 30%;
          width: 100%;
          height: 20vw;
          background: linear-gradient(
            180deg,
            #ca9e9f 27.39%,
            rgba(128, 47, 166, 0.2) 111.74%
          );
        }
        .text-title {
          position: absolute;
          top: 45%;
          right: 5%;

          color: $secondary-color;
          font-size: 4.5vw;
          font-weight: 500;
          text-transform: uppercase;
          z-index: 2;
          transform: translateY(-40%);
        }
        .image-container {
          & div:nth-child(1) {
            position: relative;
            left: 2vw;
            width: 35vw;
            height: 55vw;
            background-image: url(../asset/nike.jpg);
            background-size: cover;
            background-position: center;
          }
          & div:nth-child(2) {
            position: absolute;
            right: 4%;
            top: 5px;
            width: 35vw;
            height: 20vw;
            background: url(../asset/maksim-larin.jpg);
            background-size: cover;
            background-position: center;
          }
          & div:nth-child(3) {
            position: absolute;
            right: 8vw;
            top: 30vw;
            width: 26vw;
            height: 30vw;
            background: url(../asset/reinhart-julian.jpg);
            background-size: cover;
            background-position: center;
          }
        }
      }
    }
  }

  .product-display {
    .link-to {
      display: flex;
      justify-content: center;
      width: 85px;
      margin: 8px auto;
      border-bottom: solid 1px $primary-color;
      font-size: 18px;
      text-decoration: none;
      color: $primary-color;
    }
  }
}

//PAGINATION

// LOGIN PAGE
.login-register {
  .title {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding: 100px;
    margin: auto;
  }
  .log-in,
  .sign-up {
    width: 80%;
    margin: auto;
    text-align: center;
    .socialLogIn {
      margin: 20px 0;
    }
    input {
      width: 100%;
      margin-top: 20px;
      padding: 10px 0px;
      border: none;
      outline: none;
      border-bottom: solid 1px black;
    }
    a {
      text-decoration: none;
    }
  }
}

//RECOVERY PAGE
.reset-password {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 100px 0;
  input {
    width: 100%;
    margin-top: 20px;
    padding: 10px 0px;
    border: none;
    outline: none;
    border-bottom: solid 1px black;
  }
}

//LATEST PRODUCT PAGE
.card {
  border: none;
  margin-bottom: 16px;
  &:hover {
    opacity: 0.8;
    transform: scale(1.02);
    transition: all ease 0.5s;
  }
  .detail {
    margin-top: 8px;

    .brand {
      text-transform: capitalize;
      color: $third-color;
    }
    .title {
      font-size: 17px;
      font-weight: 500;
    }
  }
}

//DETAIL-PRODUCT PAGE
.detail-product {
  position: relative;
  width: 95%;
  margin: auto;
  padding-top: 20px;

  .detail {
    padding: 30px 20px;
    .brand {
      text-transform: capitalize;
      color: $third-color;
    }
    .description {
      margin: 20px 0px;
      padding-top: 20px;
      padding-bottom: 5px;
      border-top: solid 1px $secondary-color;
      border-bottom: solid 1px $secondary-color;
    }

    .size {
      padding-bottom: 40px;
      .choose-size {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        .size-box {
          position: relative;
          padding: 10px;
          font-size: 16px;
          text-align: center;
          border: none;
          border-bottom: solid 1px $secondary-color;
          margin: 10px;
          cursor: pointer;
          .disable {
            border: none;
            color: $third-color;
            cursor: text;
          }
        }
        .activate {
          border-bottom: solid 1.5px $primary-color;
        }
      }
    }
  }
}

@media screen and (min-width: 1500px) {
  .detail-product {
    display: flex;
    justify-content: space-between;
  }
}

//CART SLIDE
.cart-slide {
  position: fixed;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: $primary-color;
  color: $secondary-color;
  opacity: 0.85;
  z-index: 5;
  transform: translateX(1300px);
  transition: 0.3s ease-in-out;

  .title {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    height: 6vh;
  }
  .check-out {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 24vh;
    z-index: 50;
    padding-left: 10px;
    margin-bottom: 40px;
    border-top: solid 1px $secondary-color;

    .subTotal {
      display: flex;
      justify-content: space-between;
      padding: 10px 25px;
      p {
        font-size: 16px;
        font-weight: 500;
      }
    }
    .checkout-btn {
      display: block;
      background: $secondary-color;
      color: $primary-color;
      width: 70%;
      margin: 0px auto;

      padding: 5px;
      border-radius: 5px;
      outline: none;
      transition: all ease-in 0.2s;

      font-size: 20px;
      font-weight: 500;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  .middle {
    overflow-y: scroll;
    height: calc(70vh - 60px);
    .empty-cart {
      border-top: solid 1px $secondary-color;
      border-bottom: solid 1px $secondary-color;
      text-align: center;

      font-size: 24px;
      padding: 10px;
      margin-top: 10px;
    }
  }
}

@media screen and (min-width: 600px) {
  .cart-slide {
    width: 70vw;
    .title {
      display: flex;
      justify-content: space-between;
      padding: 20px;
    }
    .check-out {
      margin-bottom: 0px;
      .subTotal {
        p {
          font-size: 20px;
          font-weight: 500;
        }
      }
    }
    .middle {
      height: calc(70vh - 20px);
      .productInCart {
        .image {
          width: 13vw;
        }
        .detail-col {
          padding-left: 20px;
          span,
          p {
            font-size: 18px;
          }
          .quantity-box {
            width: 35%;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1500px) {
  .cart-slide {
    width: 40vw;

    .check-out {
      .subTotal {
        p {
          font-size: 25px;
          font-weight: 500;
        }
      }
    }
    .middle {
      .productInCart {
        .image {
          width: 8vw;
        }
        .detail-col {
          padding-left: 30px;
          span,
          p {
            font-size: 22px;
          }
          .quantity-box {
            width: 30%;
          }
        }
      }
    }
  }
}

//FILTER BAR
.filter-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 80vw;
  height: 100vh;
  padding: 2vw;
  background-color: $primary-color;
  color: $secondary-color;
  opacity: 0.85;
  z-index: 6;
  transform: translateX(-1300px);
  transition: 0.3s ease-in-out;
  .head {
    .state {
      display: flex;
      justify-content: flex-start;

      &-box {
        border: solid 1px $third-color;
        border-radius: 5px;

        margin-right: 8px;
        padding: 3px 5px;
        font-size: 12px;
        span:nth-child(1) {
          margin-right: 10px;
        }
      }
    }
    .title {
      display: flex;
      justify-content: space-between;
      font-size: 22px;
      font-weight: bold;
      padding: 0;
    }
  }
  .filter-by {
    .title {
      padding-bottom: 0;
      font-size: 20px;
      font-weight: bold;
    }
  }
  .sort-by {
    .title {
      padding-bottom: 0;
      font-size: 20px;
      font-weight: bold;
    }
    div p {
      cursor: pointer;
    }
  }
  .all-btn {
    display: flex;
    justify-content: space-evenly;
    .btn {
      border: solid 1px $secondary-color;
      border-radius: 5px;
      margin: 10px 10px;

      text-transform: capitalize;
    }
  }
}
@media screen and (min-width: 800px) {
  .filter-bar {
    width: 35vw;
  }
}
//MENU NAVIGATION
.menu-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 80vw;
  height: 100vh;
  background-color: $primary-color;
  color: $secondary-color;
  opacity: 0.85;
  z-index: 6;
  transform: translateX(-1300px);
  transition: 0.3s ease-in-out;
  .head {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: solid 1px $secondary-color;
  }
  .menu-list {
    padding-top: 20px;
    a {
      color: $secondary-color;
      text-decoration: none;
      p {
        font-size: 25px;
        font-weight: 500;
        padding: 20px;
      }
    }
  }
}
@media screen and (min-width: 600px) {
  .menu-nav {
    width: 50vw;
    .menu-list {
      a {
        p {
          font-size: 30px;
        }
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .menu-nav {
    width: 35vw;
    .menu-list {
      a {
        p {
          font-size: 35px;
        }
      }
    }
  }
}

//CHECK OUT PAGE

.wrap {
  padding: 0 10px;
}
.checkout-page {
  .checkout-cart {
    background: rgba(241, 241, 241, 0.4);
    padding: 20px 0;
    &::before {
      content: "";
      height: 1px;
      display: block;
      width: 100%;
      background: $third-color;
    }
    .show-hide {
      padding: 20px 0;
      &::after {
        content: "";
        height: 1px;
        display: block;
        width: 100%;
        background: $third-color;
        margin: 20px 0;
      }

      .wrap {
        display: flex;
        justify-content: space-between;
        span {
          font-size: 20px;
          font-weight: 550;
        }
      }
    }
    .summary-cart {
      width: 100%;
      margin: auto;
      .wrap {
        .discount {
          display: flex;
          width: 100%;
          justify-content: space-between;
          padding-top: 15px;
          input {
            outline: black;
            height: 40px;
            text-transform: uppercase;
            margin-right: 10px;
            width: 65%;
            font-size: 12px;
          }
          .error {
            border: solid 2px #fe8c8c;
            animation: shake 0.3s linear;
          }
          @keyframes shake {
            0% {
              margin-left: 10px;
            }
            25% {
              margin-left: 15px;
            }
            50% {
              margin-left: 10px;
            }
            75% {
              margin-left: 15px;
            }
            100% {
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
  .form {
    padding-top: 20px;
    .title {
      text-align: center;
      font-weight: bold;
      padding: 60px 0;
    }
    .billing-detail {
    }
  }
}
.button {
  position: relative;
  width: 30%;
  height: 40px;
  background-color: $primary-color;
  color: $secondary-color;
  outline: none;
  cursor: pointer;

  .icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: bounce 1s ease;
    animation-fill-mode: forwards;

    @keyframes bounce {
      0% {
        background: $secondary-color;
        border-radius: 50%;
        opacity: 0.9;
      }

      100% {
        transform: translate(-50%, -50%);
      }
    }
  }

  .text {
    visibility: hidden;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 30%;
    width: 100%;
    color: $secondary-color;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    animation: pop 0.4s ease;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
    opacity: 0;

    @keyframes pop {
      30% {
        opacity: 0.5;
      }
      100% {
        opacity: 1;
      }
    }
  }
}

.code-apply {
  position: absolute;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  height: 100%;
  background-color: $primary-color;
  color: $secondary-color;
}
.loading {
  position: absolute;
  right: 30%;
  top: 10%;

  margin: auto;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 2px $secondary-color;
  border-left-color: $third-color;
  border-bottom-color: $third-color;
  background-color: $primary-color;
  animation: rotate 1.4s ease 0.5s infinite;
  animation-fill-mode: forwards;
  @keyframes rotate {
    0% {
      transform: rotate(360deg);
    }
  }
}
.closebtn {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (min-width: 500px) {
  .button {
    .text {
      visibility: visible;
    }
    .icon {
      @keyframes bounce {
        100% {
          transform: translate(-270%, -50%);
        }
      }
    }
  }
  .loading {
    right: 40%;
  }
}
.product-table {
  position: relative;
  width: 100%;

  .header {
    visibility: hidden;
  }
  .body {
    .product-image {
      // display: flex;
      // justify-content: center;
      width: 20%;
      .product-thumbnail {
        position: relative;
        width: 5em;
        height: 5em;

        .product-wrapper {
          position: absolute;
          padding: 5px;
        }
        .quantity {
          position: absolute;
          z-index: 10;
          right: 0;
          width: 25px;
          height: 25px;
          text-align: center;
          border-radius: 50%;
          background-color: $third-color;
        }
      }
    }
    .price {
      text-align: right;
    }
  }
}
@media screen and (min-width: 1500px) {
  .checkout-page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80vw;
    margin: auto;
    height: 100%;
    .checkout-cart {
      height: 100vh;
      margin-right: 30px;
    }
    .form {
      margin-left: 30px;
    }
  }
}
@media screen and (min-width: 800px) {
  .wrap {
    padding: 0 40px;
  }
  .billing-detail {
  }
}

//PAYMENT SUCCESS PAGE
.payment-success {
  padding: 50px 0;
  width: 98%;
  margin: auto;
  font-size: 18px;

  .order-confirmation {
    text-align: center;
    background-color: $secondary-color;

    padding: 25px 0;
    p {
      &:nth-child(1) {
        font-size: 24px;
        font-weight: 550;
        text-transform: uppercase;
      }
    }
  }

  .order {
    &__detail {
    }
  }

  .yourOrder {
    padding-top: 20px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
  }
}
.first-table,
.second-table {
  font-size: 14px;
  width: 100%;
  tr > td,
  th {
    &:nth-child(2) {
      text-align: right;
    }
  }
  tr > th {
    font-size: 18px;
  }
}

@media screen and (min-width: 500px) {
  .payment-success {
    width: 80%;
  }
  .order {
    &__detail,
    .all-detail {
      .info {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
@media screen and (min-width: 1500px) {
  .payment-success {
    width: 60%;
  }
  .order {
    &__detail,
    .all-detail {
      width: 80%;
      margin: auto;
      .info {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

@media screen and (min-width: 1500px) {
  .sub-table {
    font-size: 16px;
    tr > th {
      font-size: 22px;
    }
  }
}

//ACCOUNT PAGE
.contact > p,
.address > p,
.payment-method > p,
.order-history > p {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}
.account {
  width: 95%;
  margin: auto;
  padding: 40px 0px;
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  .contact {
    &__info {
      div > span {
        font-weight: bold;
      }
    }
  }
  .address {
    &__info {
      text-transform: capitalize;
      .shipping > p,
      .billing > p {
        font-weight: bold;
      }
    }
  }
  .order-history {
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5px;

    background-color: $secondary-color;
    color: black;

    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    .icon {
      margin-right: 20px;
    }
  }
}
.no-record {
  color: $third-color;
}
@media screen and (min-width: 400px) {
  .account {
    .contact,
    .address {
      &__info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
