@import "../style/variable.scss";

//MAKE IMAGE FIT IN DIV
.image-fluid {
  max-width: 100%;
  height: auto;
}
//Product In Cart
.productInCart {
  margin-bottom: 15px;

  .detail-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 30px;
    span,
    p {
      font-size: 15px;
    }
    .quantity-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 50%;
      .icon {
        background: $secondary-color;
        color: $primary-color;
        width: 20px;
        height: 20px;
        padding: 2px;
      }
    }
  }
  .price-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 30px;

    p {
      margin-bottom: 0px;
      font-size: 18px;
    }
  }
}

.boxes {
  position: relative;

  border: solid 1px $secondary-color;
  border-radius: 5px;
  margin: 8px 0px;
  padding-left: 5px;
  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
      padding-top: 10px;
    }
    i {
      padding-right: 5px;
      color: rgb(138, 138, 138);
    }
  }
}

.price {
  color: $primary-color;
  .sale-price s {
    color: $third-color;
  }
  .sold-out {
    color: $third-color;
  }
}

//HOMEPAGE
.homePage {
  .overlay {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #fff;
    top: 0;
    right: 0;
    z-index: 4;
  }
  .carousel {
    .carousel-indicators {
      li {
        width: 3vw;
        height: 0.3vh;
      }
    }
    .carousel-caption {
      z-index: 1;
    }
  }
  .main {
    width: 95%;
    margin: auto;
    .popular-section {
      .contain {
        position: relative;
        height: 70%;
        width: 100%;
        margin: auto;
        margin-bottom: 60px;
        .bar {
          position: absolute;
          top: 30%;
          width: 100%;
          height: 20vw;
          background: linear-gradient(
            180deg,
            #ca9e9f 27.39%,
            rgba(128, 47, 166, 0.2) 111.74%
          );
        }
        .text-title {
          position: absolute;
          top: 45%;
          right: 5%;

          color: $secondary-color;
          font-size: 4.5vw;
          font-weight: 500;
          text-transform: uppercase;
          z-index: 2;
          transform: translateY(-40%);
        }
        .image-container {
          & div:nth-child(1) {
            position: relative;
            left: 2vw;
            width: 35vw;
            height: 55vw;
            background-image: url(../asset/nike.jpg);
            background-size: cover;
            background-position: center;
          }
          & div:nth-child(2) {
            position: absolute;
            right: 4%;
            top: 5px;
            width: 35vw;
            height: 20vw;
            background: url(../asset/maksim-larin.jpg);
            background-size: cover;
            background-position: center;
          }
          & div:nth-child(3) {
            position: absolute;
            right: 8vw;
            top: 30vw;
            width: 26vw;
            height: 30vw;
            background: url(../asset/reinhart-julian.jpg);
            background-size: cover;
            background-position: center;
          }
        }
      }
    }
  }

  .product-display {
    .link-to {
      display: flex;
      justify-content: center;
      width: 85px;
      margin: 8px auto;
      border-bottom: solid 1px $primary-color;
      font-size: 18px;
      text-decoration: none;
      color: $primary-color;
    }
  }
}

//PAGINATION

// LOGIN PAGE
.login-register {
  .title {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding: 100px;
    margin: auto;
  }
  .log-in,
  .sign-up {
    width: 80%;
    margin: auto;
    text-align: center;
    .socialLogIn {
      margin: 20px 0;
    }
    input {
      width: 100%;
      margin-top: 20px;
      padding: 10px 0px;
      border: none;
      outline: none;
      border-bottom: solid 1px black;
    }
    a {
      text-decoration: none;
    }
  }
}

//RECOVERY PAGE
.reset-password {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 100px 0;
  input {
    width: 100%;
    margin-top: 20px;
    padding: 10px 0px;
    border: none;
    outline: none;
    border-bottom: solid 1px black;
  }
}

//LATEST PRODUCT PAGE
.card {
  border: none;
  margin-bottom: 16px;
  &:hover {
    opacity: 0.8;
    transform: scale(1.02);
    transition: all ease 0.5s;
  }
  .detail {
    margin-top: 8px;

    .brand {
      text-transform: capitalize;
      color: $third-color;
    }
    .title {
      font-size: 17px;
      font-weight: 500;
    }
  }
}

//DETAIL-PRODUCT PAGE
.detail-product {
  position: relative;
  width: 95%;
  margin: auto;
  padding-top: 20px;

  .detail {
    padding: 30px 20px;
    .brand {
      text-transform: capitalize;
      color: $third-color;
    }
    .description {
      margin: 20px 0px;
      padding-top: 20px;
      padding-bottom: 5px;
      border-top: solid 1px $secondary-color;
      border-bottom: solid 1px $secondary-color;
    }

    .size {
      padding-bottom: 40px;
      .choose-size {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        .size-box {
          position: relative;
          padding: 10px;
          font-size: 16px;
          text-align: center;
          border: none;
          border-bottom: solid 1px $secondary-color;
          margin: 10px;
          cursor: pointer;
          .disable {
            border: none;
            color: $third-color;
            cursor: text;
          }
        }
        .activate {
          border-bottom: solid 1.5px $primary-color;
        }
      }
    }
  }
}

@media screen and (min-width: 1500px) {
  .detail-product {
    display: flex;
    justify-content: space-between;
  }
}

//CART SLIDE
.cart-slide {
  position: fixed;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: $primary-color;
  color: $secondary-color;
  opacity: 0.85;
  z-index: 5;
  transform: translateX(1300px);
  transition: 0.3s ease-in-out;

  .title {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    height: 6vh;
  }
  .check-out {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 24vh;
    z-index: 50;
    padding-left: 10px;
    margin-bottom: 40px;
    border-top: solid 1px $secondary-color;

    .subTotal {
      display: flex;
      justify-content: space-between;
      padding: 10px 25px;
      p {
        font-size: 16px;
        font-weight: 500;
      }
    }
    .checkout-btn {
      display: block;
      background: $secondary-color;
      color: $primary-color;
      width: 70%;
      margin: 0px auto;

      padding: 5px;
      border-radius: 5px;
      outline: none;
      transition: all ease-in 0.2s;

      font-size: 20px;
      font-weight: 500;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  .middle {
    overflow-y: scroll;
    height: calc(70vh - 60px);
    .empty-cart {
      border-top: solid 1px $secondary-color;
      border-bottom: solid 1px $secondary-color;
      text-align: center;

      font-size: 24px;
      padding: 10px;
      margin-top: 10px;
    }
  }
}

@media screen and (min-width: 600px) {
  .cart-slide {
    width: 70vw;
    .title {
      display: flex;
      justify-content: space-between;
      padding: 20px;
    }
    .check-out {
      margin-bottom: 0px;
      .subTotal {
        p {
          font-size: 20px;
          font-weight: 500;
        }
      }
    }
    .middle {
      height: calc(70vh - 20px);
      .productInCart {
        .image {
          width: 13vw;
        }
        .detail-col {
          padding-left: 20px;
          span,
          p {
            font-size: 18px;
          }
          .quantity-box {
            width: 35%;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1500px) {
  .cart-slide {
    width: 40vw;

    .check-out {
      .subTotal {
        p {
          font-size: 25px;
          font-weight: 500;
        }
      }
    }
    .middle {
      .productInCart {
        .image {
          width: 8vw;
        }
        .detail-col {
          padding-left: 30px;
          span,
          p {
            font-size: 22px;
          }
          .quantity-box {
            width: 30%;
          }
        }
      }
    }
  }
}

//FILTER BAR
.filter-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 80vw;
  height: 100vh;
  padding: 2vw;
  background-color: $primary-color;
  color: $secondary-color;
  opacity: 0.85;
  z-index: 6;
  transform: translateX(-1300px);
  transition: 0.3s ease-in-out;
  .head {
    .state {
      display: flex;
      justify-content: flex-start;

      &-box {
        border: solid 1px $third-color;
        border-radius: 5px;

        margin-right: 8px;
        padding: 3px 5px;
        font-size: 12px;
        span:nth-child(1) {
          margin-right: 10px;
        }
      }
    }
    .title {
      display: flex;
      justify-content: space-between;
      font-size: 22px;
      font-weight: bold;
      padding: 0;
    }
  }
  .filter-by {
    .title {
      padding-bottom: 0;
      font-size: 20px;
      font-weight: bold;
    }
  }
  .sort-by {
    .title {
      padding-bottom: 0;
      font-size: 20px;
      font-weight: bold;
    }
    div p {
      cursor: pointer;
    }
  }
  .all-btn {
    display: flex;
    justify-content: space-evenly;
    .btn {
      border: solid 1px $secondary-color;
      border-radius: 5px;
      margin: 10px 10px;

      text-transform: capitalize;
    }
  }
}
@media screen and (min-width: 800px) {
  .filter-bar {
    width: 35vw;
  }
}
//MENU NAVIGATION
.menu-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 80vw;
  height: 100vh;
  background-color: $primary-color;
  color: $secondary-color;
  opacity: 0.85;
  z-index: 6;
  transform: translateX(-1300px);
  transition: 0.3s ease-in-out;
  .head {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: solid 1px $secondary-color;
  }
  .menu-list {
    padding-top: 20px;
    a {
      color: $secondary-color;
      text-decoration: none;
      p {
        font-size: 25px;
        font-weight: 500;
        padding: 20px;
      }
    }
  }
}
@media screen and (min-width: 600px) {
  .menu-nav {
    width: 50vw;
    .menu-list {
      a {
        p {
          font-size: 30px;
        }
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .menu-nav {
    width: 35vw;
    .menu-list {
      a {
        p {
          font-size: 35px;
        }
      }
    }
  }
}

//CHECK OUT PAGE
