@import "../style/variable.scss";

// LOGIN PAGE
.login-register {
  .title {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding: 100px;
    margin: auto;
  }
  .log-in,
  .sign-up {
    width: 80%;
    margin: auto;
    text-align: center;
    .socialLogIn {
      margin: 20px 0;
    }
    input {
      width: 100%;
      margin-top: 20px;
      padding: 10px 0px;
      border: none;
      outline: none;
      border-bottom: solid 1px black;
    }
    a {
      text-decoration: none;
    }
  }
}

//RECOVERY PAGE
.reset-password {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 100px 0;
  input {
    width: 100%;
    margin-top: 20px;
    padding: 10px 0px;
    border: none;
    outline: none;
    border-bottom: solid 1px black;
  }
}

//LATEST PRODUCT PAGE
.card {
  border: none;
  margin-bottom: 16px;
  &:hover {
    opacity: 0.8;
    transform: scale(1.02);
    transition: all ease 0.5s;
  }
  .detail {
    margin-top: 8px;
    line-height: 0.5;
    .brand {
      text-transform: capitalize;
      color: $third-color;
    }
    .title {
      font-size: 17px;
      font-weight: 500;
    }
  }
}

//DETAIL-PRODUCT PAGE
.detail-product {
  position: relative;
  width: 95%;
  margin: auto;
  padding-top: 20px;

  .detail {
    padding: 30px 20px;
    .brand {
      text-transform: capitalize;
      color: $third-color;
    }
    .description {
      margin: 20px 0px;
      padding-top: 20px;
      padding-bottom: 5px;
      border-top: solid 1px $secondary-color;
      border-bottom: solid 1px $secondary-color;
    }
    .boxes {
      position: relative;

      border: solid 1px $secondary-color;
      border-radius: 5px;
      margin: 8px 0px;
      padding-left: 5px;
      &-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
          padding-top: 10px;
        }
        i {
          padding-right: 5px;
          color: rgb(138, 138, 138);
        }
      }
    }
    .size {
      padding-bottom: 40px;
      .choose-size {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        .size-box {
          position: relative;
          padding: 10px;
          font-size: 16px;
          text-align: center;
          border: none;
          border-bottom: solid 1px $secondary-color;
          margin: 10px;
          cursor: pointer;
          .disable {
            border: none;
            color: $third-color;
            cursor: text;
          }
        }
        .activate {
          border-bottom: solid 1.5px $primary-color;
        }
      }
    }
  }
}

@media screen and (min-width: 1500px) {
  .detail-product {
    display: flex;
    justify-content: space-between;
    // .carousel {
    //   width: 500px;
    //   height: 50%;
    //   .image {
    //     height: 50%;
    //   }
    // }
  }
}

//CART SLIDE
.cart-slide {
  position: fixed;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: $primary-color;
  color: $secondary-color;
  opacity: 0.85;
  z-index: 5;
  transform: translateX(1300px);
  transition: 0.3s ease-in-out;

  .title {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 6vh;
  }
  .check-out {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 24vh;
    z-index: 50;
    padding-left: 10px;
    border-top: solid 1px $secondary-color;

    .subTotal {
      display: flex;
      justify-content: space-between;
      padding: 10px 25px;
      p {
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
  .middle {
    overflow-y: scroll;
    height: 70vh;
    .empty-cart {
      border-top: solid 1px $secondary-color;
      border-bottom: solid 1px $secondary-color;
      text-align: center;

      font-size: 24px;
      padding: 10px;
      margin-top: 10px;
    }
    .productInCart {
      margin-bottom: 15px;

      .image {
        width: 20vw;
      }
      .col-2 {
        span,
        p {
          font-size: 14px;
        }
      }
      .price-col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        padding-right: 30px;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .cart-slide {
    width: 70vw;
    .title {
      display: flex;
      justify-content: space-between;
      padding: 20px;
    }
    .check-out {
      .subTotal {
        p {
          font-size: 20px;
          font-weight: 500;
        }
      }
    }
    .middle {
      .productInCart {
        .image {
          width: 13vw;
        }
        .col-2 {
          padding-left: 20px;
          span,
          p {
            font-size: 18px;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1500px) {
  .cart-slide {
    width: 40vw;

    .check-out {
      .subTotal {
        p {
          font-size: 25px;
          font-weight: 500;
        }
      }
    }
    .middle {
      .productInCart {
        .image {
          width: 8vw;
        }
        .col-2 {
          padding-left: 30px;
          span,
          p {
            font-size: 22px;
          }
        }
      }
    }
  }
}
