@import "../../style/variable.scss";

.filter-btn {
  cursor: pointer;
  background-color: $third-color;
  opacity: 0.9;
  color: black;
  border-radius: 20px;
  font-size: 20px;
  padding: 6px;
  transition: all ease 0.2s;
  &:hover {
    background: $primary-color;
    opacity: 0.8;
    color: white;
  }
}
.searchBar {
  display: flex;
}
.fixed-bar {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: $secondary-color;
  padding: 5px 0px;
  width: 10vw;
  height: 100vh;
  z-index: 5;
}
@media screen and (min-width: 600px) {
  .fixed-bar {
    width: 8vw;
  }
}
@media screen and (min-width: 1500px) {
  .fixed-bar {
    width: 5%;
  }
}
.navBar {
  #{&}__left {
    @extend .fixed-bar;
    transform: translateX(-100px);
    .logo {
      margin-top: 10px;
      font-size: 12px;
      font-weight: 550;
      text-decoration: none;
      color: $primary-color;
    }
    .nav-btn {
      margin: auto;

      & div:nth-child(1) {
        width: 18px;
        height: 4px;
        background: $primary-color;
      }
      & div:nth-child(2) {
        width: 28px;
        height: 4px;
        background: $primary-color;
        margin-top: 8px;
      }
      & div:nth-child(3) {
        width: 38px;
        height: 4px;
        background: $primary-color;
        margin-top: 8px;
      }
    }
  }
  #{&}__right {
    @extend .fixed-bar;
    transform: translateX(100px);
    right: 0px;
    .shopping-bag {
      position: relative;

      .total-quantity {
        text-align: center;
        position: relative;
        bottom: 33%;
        font-weight: bold;
      }
    }

    .fa,
    .log-out {
      padding: 5px;
      font-size: 25px;
      width: 30px;
      text-align: center;
      text-decoration: none;
      border-radius: 20%;
      margin: 3px 0px;
      &:hover {
        opacity: 0.7;
      }
    }
    .social-icon {
      display: flex;
      flex-direction: column;

      .fa-facebook {
        background: #3b5998;
        color: white;
      }

      .fa-twitter {
        background: #55acee;
        color: white;
      }
      .fa-instagram {
        background: #125688;
        color: white;
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .navBar {
    #{&}__left {
      .nav-btn {
        & div:nth-child(1) {
          width: 25px;
        }
        & div:nth-child(2) {
          width: 35px;
        }
        & div:nth-child(3) {
          width: 45px;
        }
      }
    }
  }
}
